<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.filiph.mothership" android:installLocation="preferExternal" 
    android:versionCode="4" android:versionName="v0.1.3">
    
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
	
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- FLASHLIGHT, ACCESS_COARSE_LOCATION, INTERNET, READ_PROFILE -->
    
    <application android:label="@string/app_name" android:icon="@drawable/mothership_96x96">

        <activity android:name="net.filiph.mothership.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" 
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <receiver  android:process=":remote" android:name="AlarmReceiver" />
    </application>
</manifest>
